@font-face {
    font-family: 'Nightmare Gothic';
    src: url('https://brianwebsites.github.io/fa/np/Nightmaregothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Nightmare Gothic Rough';
    src: url('https://brianwebsites.github.io/fa/np/Nightmaregothicrough.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }